@import url('./font.css');


.zipInput {
  height: 75px;
  background-color: #f5f9ff;
  padding: 5px;
  color: rgb(59 130 246 / var(--tw-border-opacity));
  font-size: large;
  font-weight: bold;
  width: 100%;
  text-align: center;
  
  
}

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

.zipSubmit {
  height: 75px;
  font-family: 'ThiccBoiBold';
  width: 100%;

}

/* .formSection {
  max-width: 80%;
  align-items: left;
  margin: 0;
}

@media screen (660px){
  .formSection 
} */